@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<h2 class="mb-md-3 col-md-12 title">Giới thiệu</h2>
<p>
    <b>Thế Giới Mỹ Phẩm BOCUP STORE</b> là chuỗi cửa hàng bán lẻ mỹ phẩm Uy Tín Hàng Đầu tại HCM, chuyên kinh doanh các sản phẩm mỹ phẩm nhập khẩu chính hãng theo xu hướng mới nhất trên thế giới với Tiêu Chí Hàng Đầu là chất lượng đảm bảo cùng giá cả cạnh tranh nhất.
    Sau gần 6 năm hoạt động, Thế Giới Mỹ Phẩm BOCUP STORE đã tạo được chỗ đứng trên thị trường mỹ phẩm HCM nói riêng và cả nước nói chung với một lượng khách hàng thân thiết rất lớn.
</p>
<img src="~/Content/img/GT_01.jpg" width="1000" height="500" />
<p>
    <b>*** Bạn cần gì, chúng tôi cung nấy:</b>
    Để thỏa mãn được sự tín nhiệm và hài lòng nhất có thể từ khách hàng, chúng tôi luôn nỗ lực đầu tư kỹ lưỡng cho tất cả các khâu, dù là nhỏ nhất.
</p>
<img src="~/Content/img/GT_02.jpg" width="1000" height="500" />
<img src="~/Content/img/GT_03.jpg" width="1000" height="500" />
<p>
    <b>*** Sản phẩm:</b>
    Cập nhật những xu hướng mỹ phẩm mới nhất trên toàn thế giới để đem lại sự lựa chọn đa dạng.
    Trích nguồn thông tin chính xác từ web hãng, phổ biến rõ ràng, chi tiết trên website và các trang xã hội như facebook, instagram,.v.v..
    Kiểm duyệt nghiêm ngặt nguồn hàng để đảm bảo chất lượng tốt nhất.
    Liên tục về hàng để đáp ứng nhanh nhất nhu cầu khách hàng.

</p>